:root {
  --main-color: #212121;
  --second-color: #757575;
  --accent-color: #2196f3;
  --extra-white-color: #ffffff;
  --background-color: #ffffff;
  --background-section-color: #2f303a;
  --accent-black-color: #000000;
  --background-second-color: #f5f4fa;
  --button-second-color: #f5f4fa;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.body {
  font-family: "roboto", "sans-serif";
  font-size: 16px;
  background-color: var(--background-color);
  color: var(--main-color);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.button {
  cursor: pointer;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
  color: var(--accent-black-color);
  -webkit-transition-property: -webkit-text-decoration;
  transition-property: -webkit-text-decoration;
  transition-property: text-decoration;
  transition-property: text-decoration, -webkit-text-decoration;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-header {
  display: block;
  margin-right: 93px;
}

.logo:hover,
.logo:focus {
  -webkit-text-decoration: underline var(--accent-color);
          text-decoration: underline var(--accent-color);
}

.logo-color {
  color: var(--accent-color);
}

.header-link-item:not(:last-child) {
  margin-right: 50px;
}

.header-contacts {
  margin-left: auto;
}

.header-list-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: var(--main-color);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link-mail,
.header-link-tel {
  color: var(--second-color);
}

.header-list-link:hover,
.header-list-link:focus {
  color: var(--accent-color);
}

.header-current {
  color: var(--accent-color);
}

.mail-icon {
  margin-right: 10px;
  fill: currentColor;
}

.tel-icon {
  margin-right: 10px;
  fill: currentColor;
}

.header-current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  bottom: -1px;
  left: 0px;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-bg.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
  background-color: #c4c4c4;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  margin-bottom: 30px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636363636;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--extra-white-color);
  width: 696px;
}

.hero-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--extra-white-color);
  font-family: inherit;
  border-radius: 4px;
  border-style: none;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--button-second-color);
  color: var(--main-color);
}/*# sourceMappingURL=main.css.map */