.header .container {
    display: flex;
    align-items: center;
}

.header {
    border-bottom: 1px solid #ececec;
}

.header-list {
    display: flex;
}

.logo {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: var(--accent-black-color);

    transition-property: text-decoration;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-header {
    display: block;
    margin-right: 93px;
}

.logo:hover,
.logo:focus {
    text-decoration: underline var(--accent-color);
}

.logo-color {
    color: var(--accent-color);
}

.header-link-item:not(:last-child) {
    margin-right: 50px;
}

.header-contacts {
    margin-left: auto;
}

.header-list-link {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;

    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--main-color);

    align-items: center;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link-mail,
.header-link-tel {
    color: var(--second-color);
}

.header-list-link:hover,
.header-list-link:focus {
    color: var(--accent-color);
}

.header-current {
    color: var(--accent-color);
}

.mail-icon {
    margin-right: 10px;
    fill: currentColor;
}

.tel-icon {
    margin-right: 10px;
    fill: currentColor;
}

.header-current::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background: #2196f3;
    border-radius: 2px;
    bottom: -1px;
    left: 0px;
}