.header__container {
    display: flex;
    align-items: center;
}

.header {
    border-bottom: 1px solid #ececec;

    &__list {
        display: flex;
    }

    &__logo {
        display: block;
        margin-right: 93px;
    }
}

.header__item:not(:last-child) {
    margin-right: 50px;
}

.header__list--contacts {
    margin-left: auto;
}

.header__link {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;

    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: $main-color;

    align-items: center;

    transition-property: color;
    @extend %transitions;

    &:hover,
    &:focus {
        color: $accent-color;
    }
}

.header__link--mail,
.header__link--tel {
    color: $second-color;
}

.header__icon--mail {
    margin-right: 10px;
    fill: currentColor;
}

.header__icon--tel {
    margin-right: 10px;
    fill: currentColor;
}

.header__link--current {
    color: $accent-color;

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        background: $accent-color;
        border-radius: 2px;
        bottom: -1px;
        left: 0px;
    }
}