h1,
h2,
h3,
p {
    margin: 0;
}

.body {
    font-family: $main-font;
    font-size: 16px;
    background-color: $background-color;
    color: $main-color;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.img {
    display: block;
    max-width: 100%;
    height: auto;
}

.title {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color: $main-color;
}

.social-icons {
    fill: currentColor;
}

%transitions {
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}